.page {
  font-family: "Inter", "Arial", sans-serif;
  background-color: rgba(0, 0, 0, 1);
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;


}

@media screen and (max-width: 1023px) {
  .page {
    max-width: 1023px;
  }
}
