.profile__edit {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 1);
  background-image: url(../../../images/edit.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 1);
  align-self: center;
  transition: 1s;
}

.profile__edit:hover {
  transition: 1s;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile__edit {
    position: absolute;
    top: 8px;
    left: 245px;
    width: 18px;
    height: 18px;
  }
}
