.popup__button {
  width: 83.2%;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 48px auto 37px;
  padding: 0;
  transition: 1s;
}

.popup__button:hover {
  transition: 1s;
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .popup__button {
    height: 46px;
    margin: 45px auto 25px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
