.avatar-container {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 120px;
  transition: 0.5s;
}
.avatar-container:hover{
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../images/ava.svg);
  transition: 0.5s;


}
