.close-icon {
  background-image: url(../../images/close-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  transition: 1s;
}

.close-icon:hover {
  transition: 1s;
  opacity: 0.6;
}



@media screen and (max-width: 1023px) {
  .close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
