@import url(../fonts/fonts.css);
@import url(../vendor/normalize.css);

@import url(../blocks/avatar/avatar.css);
@import url(../blocks/avatar-container/avatar-container.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__signature/element__signature.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__trash/element__trash.css);
@import url(../blocks/element/__like/like-quantity/element__like-quantity.css);


@import url(../blocks/elements/elements.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/main/main.css);

@import url(../blocks/page/page.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__status/profile__status.css);

@import url(../blocks/profile-form/profile-form.css);

@import url(../blocks/copyright/copyright.css);

@import url(../blocks/close-icon/close-icon.css);


@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__form-name/popup__form-name.css);
@import url(../blocks/popup/__form-status/popup__form-status.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__content/_img/popup__content_img.css);
@import url(../blocks/popup/__image/_full/popup__image_full.css);
@import url(../blocks/popup/__image-signature/popup__image-signature.css);
@import url(../blocks/popup/__preview/popup__preview.css);
@import url(../blocks/popup/__button/_disabled/popup__button_disabled.css);


@import url(../blocks/form/__error/form__error.css);
@import url(../blocks/form/__error/_active/form__error_active.css);
@import url(../blocks/form/__input/_error/form__input_error.css);

@import url(../blocks/like-container/like-container.css);
