.profile__name {
  width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;



}

@media screen and (max-width: 1023px) {
  .profile__name {
    width: 189px;
    font-size: 27px;
    line-height: 32.68px;
  }
}
