.close-icon {
  background-image: url(../../images/close-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  align-self: flex-end;
  width: 32px;
  height: 32px;
  margin-top: 155px;
  margin-right: 30.07%;
  padding: 0;
  transition: 1s;
}

.close-icon:hover {
  transition: 1s;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .close-icon {
    width: 20px;
    height: 20px;
    position: static;
    justify-self: center;
    margin-right: 22.02%;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .close-icon {
    width: 20px;
    height: 20px;
    position: static;
    justify-self: center;
    margin-right: 5.93%;
    margin-bottom: 16px;

  }
}
