.close-icon {
  background-image: url(../../images/Close\ Icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 155px;
  right: 30.07%;
  padding: 0;
  transition: 1s;
}

.close-icon:hover {
  transition: 1s;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .close-icon {
    width: 20px;
    height: 20px;
    top: 87px;
    right: 5.93%;
  }
}
