.element__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  min-height: 19px;
  min-width: 18px;
  padding: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../images/Trash.svg);
}


.element__trash:hover {
  transition: 1s;
  opacity: 0.5;
}
