.element__like {
  width: 7.8%;
  min-height: 19px;
  padding: 0;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  transition: 1s;
}

.element__like:hover {
  transition: 1s;
  opacity: 0.5;
}


