.popup__title {
  margin-top: 34px;
  margin-left: 8.37%;
  align-self: flex-start;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  white-space: nowrap;
}

@media screen and (max-width: 1023px) {
  .popup__title {
    margin: 25px auto 0;
    font-size: 18px;
    line-height: 21.78px;
  }
}
