.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: all .4s;

}

.popup_preview {
  background-color: rgba(0, 0, 0, .9);
}


